root = true

[*.java]
charset = utf-8
indent_style = tab
insert_final_newline = true
tab_width = 4
ij_formatter_off_tag = @formatter:off
ij_formatter_on_tag = @formatter:on
ij_formatter_tags_enabled = true

[*.md]
max_line_length = 100

[*.cs]

# CA1416: Validate platform compatibility
# noinspection EditorConfigKeyCorrectness
dotnet_diagnostic.CA1416.severity = none