# Makes it so that all purchased effects apply to everyone on the server.
global: false

# The hosts or owners of a server, through which viewers are able to purchase specific universal
#  effects such as setting the server difficulty or changing the weather.
# Acceptable values for this field include Minecraft usernames,
#  UUIDs (formatted with or without dashes), stream usernames, and stream IDs.
# Example:
#hosts: ["MinecraftUsername1", "TwitchUsername2", "123456", "d1de9ca878f64aae87a18c112f675f12"]
hosts: []

# Determines whether to alert streamers in chat when an effect has been activated.
announce: true

# Determines whether a user must be an operator to use the "/account" command.
admin-required: false

# When the server fails to find a player that matches data sent by the Crowd Control app for the purposes of
# auto-linking Minecraft and Crowd Control accounts, this setting allows a fallback to find a matching Minecraft player
# using connected IP addresses. This may be undesirable for some event setups.
ip-detect: true

# Hides the names of viewers who have purchased effects.
# Can be 'none' to disable, 'chat' to hide only in chat, or 'all' to hide everywhere.
hide-names: none

# Controls the behavior of Custom Effects.
custom-effects:

  # Whether to allow auto-generated custom effects for modded Mobs, Enchantments, and Potions.
  # Even when enabled, these effects are hidden by default,
  # so make sure to enable and customize the generated prices in your Crowd Control app's Effect Manager.
  autogenerated: true

  # Write your own custom effects.
  # Some example custom effects are listed below.
  # To start, add a "#" to the start of the next line, and remove the "#" from the following line as well as from any examples you want to add.
  effects: []
#  effects:

#    - name:
#        text: Summon HUGE Creeper
#      price: 1000
#      description: With a very fashionable hat
#      image: entity_creeper
#      category: ["Summon Entity"]
#      actions:
#        - type: summon-entity
#          options:
#            type: creeper
#            pos: ^ ^5 ^5
#            nbt: >-
#              {powered:1b,ExplosionRadius:20b,Fuse:20,Passengers:[{id:"minecraft:slime",Size:8,attributes:[{id:"minecraft:max_health",base:4},{id:"minecraft:safe_fall_distance",base:100},{id:"minecraft:scale",base:0.5}]}],attributes:[{id:"minecraft:max_health",base:40},{id:"minecraft:movement_efficiency",base:1},{id:"minecraft:movement_speed",base:0.3},{id:"minecraft:safe_fall_distance",base:10},{id:"minecraft:scale",base:3},{id:"minecraft:step_height",base:3},{id:"minecraft:water_movement_efficiency",base:1}]}

#    - name:
#        text: Summon Cod Tower
#      price: 100
#      description: 12 cod in increasingly smaller sizes stacked on top of each other
#      image: entity_creeper
#      category: ["Summon Entity"]
#      actions:
#        - type: summon-entity
#          options:
#            type: cod
#            pos: ^ ^5 ^5
#            nbt: >-
#              {Passengers:[{id:"minecraft:cod",Passengers:[{id:"minecraft:cod",Passengers:[{id:"minecraft:cod",Passengers:[{id:"minecraft:cod",Passengers:[{id:"minecraft:cod",Passengers:[{id:"minecraft:cod",Passengers:[{id:"minecraft:cod",Passengers:[{id:"minecraft:cod",Passengers:[{id:"minecraft:cod",Passengers:[{id:"minecraft:cod",Passengers:[{id:"minecraft:cod",attributes:[{id:"minecraft:oxygen_bonus",base:1024},{id:"minecraft:safe_fall_distance",base:1024},{id:"minecraft:scale",base:0.9},{id:"minecraft:water_movement_efficiency",base:1}]}],attributes:[{id:"minecraft:oxygen_bonus",base:1024},{id:"minecraft:safe_fall_distance",base:1024},{id:"minecraft:scale",base:1},{id:"minecraft:water_movement_efficiency",base:1}]}],attributes:[{id:"minecraft:oxygen_bonus",base:1024},{id:"minecraft:safe_fall_distance",base:1024},{id:"minecraft:scale",base:1.1},{id:"minecraft:water_movement_efficiency",base:1}]}],attributes:[{id:"minecraft:oxygen_bonus",base:1024},{id:"minecraft:safe_fall_distance",base:1024},{id:"minecraft:scale",base:1.2},{id:"minecraft:water_movement_efficiency",base:1}]}],attributes:[{id:"minecraft:oxygen_bonus",base:1024},{id:"minecraft:safe_fall_distance",base:1024},{id:"minecraft:scale",base:1.3},{id:"minecraft:water_movement_efficiency",base:1}]}],attributes:[{id:"minecraft:oxygen_bonus",base:1024},{id:"minecraft:safe_fall_distance",base:1024},{id:"minecraft:scale",base:1.4},{id:"minecraft:water_movement_efficiency",base:1}]}],attributes:[{id:"minecraft:oxygen_bonus",base:1024},{id:"minecraft:safe_fall_distance",base:1024},{id:"minecraft:scale",base:1.5},{id:"minecraft:water_movement_efficiency",base:1}]}],attributes:[{id:"minecraft:oxygen_bonus",base:1024},{id:"minecraft:safe_fall_distance",base:1024},{id:"minecraft:scale",base:1.6},{id:"minecraft:water_movement_efficiency",base:1}]}],attributes:[{id:"minecraft:oxygen_bonus",base:1024},{id:"minecraft:safe_fall_distance",base:1024},{id:"minecraft:scale",base:1.7},{id:"minecraft:water_movement_efficiency",base:1}]}],attributes:[{id:"minecraft:oxygen_bonus",base:1024},{id:"minecraft:safe_fall_distance",base:1024},{id:"minecraft:scale",base:1.8},{id:"minecraft:water_movement_efficiency",base:1}]}],attributes:[{id:"minecraft:oxygen_bonus",base:1024},{id:"minecraft:safe_fall_distance",base:1024},{id:"minecraft:scale",base:1.9},{id:"minecraft:water_movement_efficiency",base:1}]}],attributes:[{id:"minecraft:oxygen_bonus",base:1024},{id:"minecraft:safe_fall_distance",base:1024},{id:"minecraft:scale",base:2},{id:"minecraft:water_movement_efficiency",base:1}]}

#    - name:
#        text: Give Baton
#      price: 100
#      description: Knocks enemies away very far
#      actions:
#        - type: give-item
#          options:
#            item: >-
#              stick[rarity="epic",max_stack_size=1,enchantments={"minecraft:knockback":5},custom_name="Baton"]
#            quantity: 1

#    - name:
#        text: Duplicate Cows
#      description: Spawns a cow on every cow
#      price: 10000
#      actions:
#        - type: run-command
#          options:
#            command: >-
#              execute as @e[type=cow] at @s run summon cow

# The Soft Lock Observer detects when a player is in a death loop
# and attempts to spare them from it by killing nearby enemies.
soft-lock-observer:

  # How long the monitoring period is, in seconds.
  period: 120

  # How many deaths must be counted within the monitoring period to trigger the fail-safes.
  deaths: 5

  # The horizontal radius to search for obstacles like enemies or lava.
  search-horizontal: 20

  # The vertical radius to search for obstacles like enemies or lava.
  search-vertical: 8

# Limits the number of players who can be affected by a purchased effect.
# For example, if a viewer redeems Give End Portal Frame and the limit is set to 1, then only
#  one random player will receive an end portal frame.
# Players listed in the "hosts" field are prioritized over guests.
# A value of 0 will disable that limit. If you instead wish to disable an effect entirely then you
#  may do so in the Crowd Control app's pricing menu.
limits:

  # Whether hosts should bypass limits entirely.
  hosts-bypass: true

  # Limits for giving items.
  items:
    default: 0
    end_portal_frame: 1

  # Limits for spawning entities.
  entities:
    default: 0
    ender_dragon: 1
    wither: 1
