# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  - push
  - pull_request

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '21' ]
    name: Build on Java ${{ matrix.Java }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Build with Gradle
        run: ./gradlew build --no-daemon

      - name: Upload Paper Artifact
        uses: actions/upload-artifact@v4
        with:
          name: crowdcontrol-paper
          path: "paper/build/libs/CrowdControl-*.jar"

      - name: Upload Sponge 7 Artifact
        uses: actions/upload-artifact@v4
        with:
          name: crowdcontrol-sponge7
          path: "sponge-7/build/libs/CrowdControl-*.jar"

      - name: Upload Sponge 8 Artifact
        uses: actions/upload-artifact@v4
        with:
          name: crowdcontrol-sponge8
          path: "sponge-8/build/libs/CrowdControl-*.jar"

      - name: Upload Sponge 11 Artifact
        uses: actions/upload-artifact@v4
        with:
          name: crowdcontrol-sponge11
          path: "sponge-11/build/libs/CrowdControl-*.jar"

      - name: Upload Fabric Artifact
        uses: actions/upload-artifact@v4
        with:
          name: crowdcontrol-fabric
          path: "fabric/build/libs/CrowdControl-*.jar"
